.home{
    width: 100%;
    height:auto;
   background-image:url('C:\Users\Thalib\Desktop\MERNbanking\bankapp\public\cashbg.jpg');
    background-size: 100%;
    background-repeat: repeat;
}

Nav.Link{
    color: white;
}


.me-auto>button{
    background-color:rgb(32, 32, 32);
    border-radius: 6px;
    color:whitesmoke;
    margin-right:20px;
    font-size:small;
    font-weight:500;
    width:max-content;
    height: 30px;
    
}
